.input {
  max-width: 100%;
  width: 320px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid transparentize($black, 0.8);
  color: transparentize($black, 0.4);
  font-weight: 900;

  &:focus {
    border: 2px solid $primary;
  }
}
