.overview {
  min-height: 100vh;
  padding: 96px 16px 56px;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__actions {
    width: 100vw;
    height: 72px;
    padding: 0 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(md) {
      justify-content: flex-end;
    }

    button {
      font-weight: 700;
      opacity: 0.5;
      transition: opacity 0.15s linear;
      display: flex;
      align-items: center;

      &:hover {
        opacity: 1;
      }

      &:not(:last-of-type) {
        margin-right: 32px;
      }

      img {
        height: 20px;
        margin-right: 8px;
      }
    }
  }

  &__subtitle {
    margin: 16px 0;
    color: $primary;
    font-weight: 900;
  }

  &__employees {
    max-width: 100%;
    width: 420px;
    padding: 0;

    &__item {
      padding: 16px 24px;
      cursor: pointer;

      &:not(:last-of-type) {
        border-bottom: 1px solid transparentize($black, 0.93);
      }

      &:hover {
        background: transparentize($black, 0.9);
      }
    }
  }

  &__share {
    &__title {
      margin-bottom: 8px;
      color: $grey;
      font-size: 12px;
      font-weight: 900;
      text-align: center;
    }
  }

  h1 {
    margin-bottom: 8px;
  }
}
