.button {
  padding: 8px 16px;
  background: $primary;
  border-radius: 4px;
  border: 2px solid $primary;
  color: white;
  font-size: 16px;
  font-weight: 900;
  transition: border 0.3s linear;

  &:hover,
  &:focus {
    border: 2px solid lighten($primary, 35%);
  }
}
