@mixin media($breakpoint: null, $min: null, $max: null) {
  @if ($min) {
    @media (min-width: $min) {
      @content;
    }
  } @else if ($max) {
    @if map-has-key($breakpoints, $max) {
      @media (max-width: #{map-get($breakpoints, $max) - 1}px) {
        @content;
      }
    }
  } @else {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}px) {
        @content;
      }
    }
  }
}
