// Colors
$white: #ffffff;
$black: #000000;
$grey: #a5a5a5;
$background: #f5f5f5;
$primary: #272838;
$accent: #fffd77;

// Grid
$columns: 12;
$gutter: 40;
$breakpoints: (
  xs: 0,
  sm: 421,
  md: 769,
  lg: 1201,
  xl: 1921
);
