* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  font-size: 16px;
}

input {
  border: none;
  font-size: 16px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

h1 {
  margin-bottom: 32px;
  color: $primary;
  font-weight: 900;
  text-align: center;
}

h2 {
  margin-bottom: 32px;
  color: $primary;
  font-weight: 700;
  text-align: center;
}
