.loading {
  @keyframes loading-spinner {
    to {
      stroke-dashoffset: -620;
    }
  }

  background: $background;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  svg {
    transform: rotate(90deg);

    circle {
      stroke: $primary;
      stroke-dasharray: 360;
      stroke-dashoffset: 0;
      animation: loading-spinner ease-in 2s infinite;
    }
  }
}
