.dialog {
  padding: 24px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9800;
  display: flex;
  align-items: center;
  justify-content: center;

  &__dimmer {
    @keyframes dialog-fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    background: transparentize($primary, 0.15);
    animation: dialog-fadeIn 0.1s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__content {
    @keyframes dialog-zoomIn {
      0% {
        transform: scale(1.8);
      }

      70% {
        transform: scale(0.9);
      }

      100% {
        transform: scale(1);
      }
    }

    overflow: visible;
    animation: dialog-zoomIn 0.1s;
    position: relative;
    z-index: 100;

    img {
      width: 12px;
      height: 12px;
      position: absolute;
      top: -14px;
      right: -14px;
      cursor: pointer;

      @include media(md) {
        top: -10px;
        right: -20px;
      }
    }
  }
}
