.employeeExplorer {
  min-height: 100vh;
  padding: 16px;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;

    @include media(md) {
      flex-direction: row;
    }
  }

  .button {
    width: 100%;
    margin: 8px 0 0;

    @include media(md) {
      width: auto;
      margin: 0 0 0 8px;
    }
  }
}
