.snackbar {
  min-width: 300px;
  padding: 12px 24px;
  background: $accent;
  border-radius: 8px;
  color: $primary;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  transition: transform 0.3s;
  position: fixed;
  bottom: 48px;
  z-index: 9900;
  left: calc(50% - 150px);

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(calc(100% + 48px));
  }
}
